In [3]:
import pymysql

# 连接创建数据库
db = pymysql.connect(host='localhost',user='root', password='konatang', port=3306)
cursor = db.cursor()
cursor.execute('SELECT VERSION()')
data = cursor.fetchone()
print('Database version:', data)
# cursor.execute("CREATE DATABASE spiders DEFAULT CHARACTER SET utf8")
db.close()

Database version: ('8.0.23',)

In [7]:
import pymysql

# 创建表
db = pymysql.connect(host='localhost', user='root', password='konatang', port=3306, db='spiders')
cursor = db.cursor()
sql = 'CREATE TABLE IF NOT EXISTS students (id VARCHAR(255) NOT NULL, name VARCHAR(255) NOT NULL, age INT NOT NULL, PRIMARY KEY (id))'
cursor.execute(sql)
db.close()

In [29]:
import pymysql

# 插入数据
id = '20120001'
user = 'Bob'
age = 20

# id = '20120002'
# user = 'Alice'
# age = 10

db = pymysql.connect(host='localhost', user='root', password='konatang', port=3306, db='spiders')
cursor = db.cursor()
sql = 'INSERT INTO students(id, name, age) values(%s, %s, %s)'
# sql = 'INSERT INTO students(id, name, age) values(%s, %s, %d)'
# sql = 'INSERT INTO %s(id, name, age) values(%s, %s, %s)'

try:
    cursor.execute(sql, (id, user, age))
    db.commit()
except BaseException as error:
    print(error)
    db.rollback()
db.close()

(1062, "Duplicate entry '20120001' for key 'students.PRIMARY'")

In [60]:
import pymysql

# 字典方式插入数据 
db = pymysql.connect(host='localhost', user='root', password='konatang', port=3306, db='spiders')
cursor = db.cursor()

data = {
    'id': '20120002',
    'name': 'Alice',
    'age': 18
}
table = 'students'
keys = ', '.join(data.keys())
values = ', '.join(['%s'] * len(data))
print(['%s'] * len(data))
sql = 'INSERT INTO {table}({keys}) VALUES ({values})'.format(table=table, keys=keys, values=values)
try:
   if cursor.execute(sql, tuple(data.values())):
       print('Successful')
       db.commit()
except:
    print('Failed')
    db.rollback()
db.close()

['%s', '%s', '%s']
Successful

In [47]:
import pymysql

# 更新数据
db = pymysql.connect(host='localhost', user='root', password='konatang', port=3306, db='spiders')
cursor = db.cursor()

sql = 'UPDATE students SET age = %s WHERE name = %s'
try:
   cursor.execute(sql, (25, 'Bob'))
   db.commit()
except:
    print('Failed')
    db.rollback()

db.close()

In [49]:
import pymysql

# 用字典更新数据
db = pymysql.connect(host='localhost', user='root', password='konatang', port=3306, db='spiders')
cursor = db.cursor()

data = {
    'id': '20120001',
    'name': 'Bob',
    'age': 21
}

table = 'students'
keys = ', '.join(data.keys())
values = ', '.join(['%s'] * len(data))

sql = 'INSERT INTO {table}({keys}) VALUES ({values}) ON DUPLICATE KEY UPDATE'.format(table=table, keys=keys, values=values)
update = ','.join([" {key} = %s".format(key=key) for key in data])
sql += update
try:
    if cursor.execute(sql, tuple(data.values())*2):
        print('Successful')
        db.commit()
except:
    print('Failed')
    db.rollback()

db.close()

In [55]:
import pymysql

# 删除数据
db = pymysql.connect(host='localhost', user='root', password='konatang', port=3306, db='spiders')
cursor = db.cursor()


table = 'students'
condition = 'age > 20'

sql = 'DELETE FROM  {table} WHERE {condition}'.format(table=table, condition=condition)
try:
    cursor.execute(sql)
    db.commit()
    print('successful')
except:
    print('error')
    db.rollback()

db.close()

successful

In [63]:
import pymysql

# 查询数据
db = pymysql.connect(host='localhost', user='root', password='konatang', port=3306, db='spiders')
cursor = db.cursor()

sql = 'SELECT * FROM students WHERE age >= 0'

try:
    cursor.execute(sql)
    print('Count:', cursor.rowcount)
    # one = cursor.fetchone()
    # print('One:', one)
    # 数据量较大时不宜使用fetchall
    # 使用fetchone: 
    # row = cursor.fetchone()
    # while row:
    #     print('Row:', row)
    #     row = cursor.fetchone()
    results = cursor.fetchall()
    print('Results:', results)
    print('Results Type:', type(results))
    for row in results:
        print(row)
except:
    print('Error')

db.close()

Count: 2
Results: (('20120001', 'Bob', 20), ('20120002', 'Alice', 18))
Results Type: <class 'tuple'>
('20120001', 'Bob', 20)
('20120002', 'Alice', 18)